---
import "../styles/global.css";

interface Props {
  frontmatter: {
    title: string;
    path: string;
  };
}

const { frontmatter } = Astro.props;
const story = frontmatter.path.split("/")[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/beta/favicon.svg" />
    <link rel="icon" href="/beta/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body class="bg-stone-950 text-white lg:my-24">
    <div class="prose prose-stone prose-invert xl:prose-lg m-auto">
      <h2 class="text-yellow-600">{story}</h2>
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </body>
</html>
